.main_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_content img {
  width: 800px;
  border-radius: 50px;
}

h1 {
  width: 500px;
}

.about_section {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  height: 200px;
  border: 1px solid #26355d;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_img {
  width: 50px;
}

.card_title {
  font-weight: 600;
  font-size: 20px;
}

.order_btn {
  margin-top: 50px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #0e46a3;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.order_btn:hover {
  transform: scale(1.1);
}

@media (max-width: 840px) {
  .main_content {
    flex-direction: column;
  }

  .main_content img {
    width: 500px;
  }

  .about_section {
    margin-top: 50px;
    gap: 30px;
  }

  .card {
    width: 300px;
  }
}
